#tickets {
  float: left;
  width: 100%;
  margin-top: 20px;

  .ticket {
    width: 31%;
    float: left;
    margin-right: 51px;

    &:last-child {
      margin-right: 0;
    }
  }
}

#ticket {
  .comments {
    margin-top: 40px;
  }

  .title-change-block {
    margin-top: 20px;
  }
  .save-btn {
    margin-top: 10px !important;
  }
}