#registrationBlock {
  width: 400px;
}

#loginBlock {
  width: 400px;
}

#tickets {
  float: left;
  width: 100%;
  margin-top: 20px;
}

#tickets .ticket {
  width: 31%;
  float: left;
  margin-right: 51px;
}

#tickets .ticket:last-child {
  margin-right: 0;
}

#ticket .comments {
  margin-top: 40px;
}

#ticket .title-change-block {
  margin-top: 20px;
}

#ticket .save-btn {
  margin-top: 10px !important;
}

.content {
  width: calc(100% - 360px);
  margin: 0 auto;
}

